CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.cmake
*.dir
x64
x32
x86
Debug
*.vcxproj
*.vcxproj.filters
*.tmp
*.sln
*.class
Testing
build/glfw
global-testing
libkvasir-engine.a
*.pc
